## Ignore unwanted files/folders.
## The Ignore List is also categorized!
## Written by yungDoom with <3

## VISUAL STUDIO ##

# Visual Studio cache/options directory
.vs/

## END OF VISUAL STUDIO ##

## GENERAL ##

game/Tools/renders/test.png

## Personal Files & Folders
Extras/

## END OF GENERAL ##